/target
**/*.rs.bk

.idea/*
Cargo.lock

# macOS
.DS_Store

# tests error
filter/tests/error

# static computed files
static/images/*blur*
static/images/*erode*
static/images/*dilate*
static/images/*min_max*
static/images/*median_blur*
